{% extends 'main/base.html' %}
{% load static %}

{% block title %}
Распорядок
{% endblock %}

{% block content %}
    <div class="zalogo"><h1>Для чего нужны правила внутреннего трудового распорядка</h1></div>

    <p>Правила внутреннего трудового распорядка (далее — ПВТР) — один из важнейших локальных нормативных актов (далее — ЛНА). Наличие этого документа регламентировано ст. 189 ТК РФ. Это требование распространяется на всех работодателей, независимо от форм собственности. Исключение — микропредприятия. С 2017 года они получили право не утверждать локальные нормативные акты (Федеральный закон от 03.07.2016 № 348-ФЗ).</p>
        <p>Многие аспекты внутреннего распорядка можно не расписывать полностью, а лишь указать норму трудового законодательства. А вот те положения, которые касаются специфики работодателя, следует раскрыть максимально подробно.

Чаще всего это касается разделов о режиме работы и отдыха. В первом обязательно указывается время начала и окончания рабочего дня/смены, продолжительность рабочей недели, количество смен в сутки, если на предприятии принят сменный график работы, и иные данные согласно ст. 100 ТК РФ. Отдельно указываются условия работы с ненормированным рабочим днем для отдельных категорий сотрудников (ст. 101 ТК РФ).

В разделе «Время отдыха» уточните время обеденного перерыва и его продолжительность. Для отдельных видов работ в рамках рабочего дня/смены предусматриваются специальные перерывы, обусловленные технологией и организацией производственного процесса, — их тоже регламентирует этот раздел.

В этот же раздел входит информация о выходных днях (ст. 111 ТК РФ), особенно если речь идет о сменном графике работы. Работодатель вправе выделить дополнительный оплачиваемый выходной день, например, тем сотрудникам, которые получают второе высшее образование, или матерям с детьми до 14 лет. Здесь же нужно указать, в каких случаях работник может получить дополнительный ежегодный оплачиваемый отпуск (ст. 116 ТК РФ).</p>

{% endblock %}